body {
    margin: 0;
    padding: 0;

    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.registro {
    width: 350px;
    height: 550px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
    border-color: rgb(253, 111, 60);
}

.registro .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: calc(50% - 50px);
}

.registro h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;

}


.registro label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.registro input {
    width: 100%;
    margin-bottom: 20px;
}

.registro input[type="text"],
.registro input[type="password"] {
 
    border: none;
    border-bottom: 1px solid rgb(253, 111, 60);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(253, 111, 60);
    font-size: 16px;

}

.registro input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(253, 111, 60);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registro input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(253, 111, 60);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}


.registro a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    coloR:#000(228, 115, 10);
    text-align: center;
}

.registro a:hover {
    color: rgb(253, 111, 60);
}

.registro input[type="button"]:hover{
    letter-spacing: .1,9rem;
    transition:1s;
    transform:scale(1.1);
}